/* styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    background: #ffffff92;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
nav a {
    color: #232946;    
    text-decoration:none;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover {
    color: #5b6bbb;
}
nav .Register:hover {
    background-color: #3c4677;
    color: #fff;
}

nav .Register{
    color: #ffffff;
    border-radius: 10px;
    background-color: #5261ab;
    margin: 7px;
    padding: 5px;
}

#hero {
    background-image: url('hero-bg.jpg'); /* Replace 'hero-bg.jpg' with your own image */
    background-size: cover;
    /* font-size: 30px;*/
    color: #232946;
    /* text-align: center; */
    padding: 100px 300px;
}
#hero h2{
    font-size: 50px;
}
#hero p{
    font-size: 20px;
}

#about, #courses {
    padding: 100px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px; /* if we add smth here, we can set it */
    text-align: center;
    position:  fixed;
    bottom: 0;
    width: 100%;
}

.course {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/**/
.RegLog {
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.RegLog h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.RegLog form {
    text-align: left;
}

.RegLog label {
    display: block;
    margin-bottom: 5px;
}

.RegLog input[type="text"],
.RegLog input[type="email"],
.RegLog input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.RegLog input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.RegLog input[type="submit"]:hover {
    background-color: #555;
}

.RegLog p {
    margin-top: 20px;
}
/**/

.course h3 {
    margin-top: 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
